/*  your css code here. If applicable */
.one{
	background-color:black;
	color:white;
}
.two
{
	color:red;
}

li:first-child,li:last-child
{
	background-color:white;
    width:370px;
	color:red;
}
li:nth-child(2n)
{
	background-color:slategray;
    width:370px;
}
.three
{
	background-color:pink;
	  width:370px;
}
:root{
	background-color:skyblue;	
}
